*,
*::after,
*::before{
    box-sizing: border-box;
}

.container{
    /* position: relative; */
    background: #f1f1f1;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#map{
    /* position: absolute;
    top: 20px; */
    /* left: 50%;
    transform: translateX(-50%); */
    width: 80%;
    height: 70vh;
    /* border-radius: 20px; */
    border: 1px solid black;
    margin-top: 20px;
}

form{
    margin-top: 20px;
}


label {
    width: 200px;
    margin-right: 33px;
}

select {
    width: 350px;
    padding: 5px;
}

.list-filter {
    line-height: 1.5;
    letter-spacing: 0.05rem;
    padding: .5rem;
    margin-top: 20px;
    font-size: .8rem;
}
.list-filter ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}
.list-filter ul li{
    font-weight: 700;
}
.list-filter ul li ul li{
    padding-left: 50px;
    font-weight: 200;
    color: darkgreen;
}
.list-filter ol li{
    margin-left: 50px;
    font-weight: 200;
    color: red;
    font-size: 12px;
}







